.form {

    &__group{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
        grid-template-rows: 6rem;
        grid-gap: 1rem;
        padding: 2rem;
    }

    &__input {
        display: grid;
        grid-column: span 1;
        grid-row: span 1;
        font-size: 1.3rem;
        font-weight: 300;
        letter-spacing: 1px;
        font-family: inherit;
        color: #0F2445;
        padding: 2rem;
        border-radius: 1rem;
        border-style: none;
        background-color: rgba(#F8F8F8, .4);
        transition: all .3s;

        &::placeholder {
            color: #0F2445;
        }

        &:focus {
            outline: none;
        }

        &:focus:invalid {

        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 300;
        margin-top: 8rem;
        margin-left: 4rem;
        letter-spacing: 1px;
        color: #0F2445;
        transition: all .3s;
        position: absolute;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-1rem);
    }
}

@media(min-width: 159em) {
    .form__group {
        grid-template-columns: repeat(auto-fill, minmax(80rem, 1fr));
    }
}

@media(min-width: 110em) and (max-width: 159em) {
    .form__group {
        grid-template-columns: repeat(auto-fill, minmax(70rem, 1fr));
    }
}

@media(min-width: 20em) and (max-width: 110em) {
    .form__group {
        grid-template-columns: repeat(auto-fill, minmax(57rem, 1fr));
    }
}

@media(min-width: 37.5em) and (max-width: 85em) {
    .form__group {
        grid-template-columns: repeat(auto-fill, minmax(57rem, 1fr));
    }
}
