.background-circle_blue {
    position: fixed;
    width: 85rem;
    height: 85rem;
    background-color: #D3D9E2;
    float: left;
    border-radius: 50%;
    transform: translate(-20%,-50%);
    z-index: -1;
}

.background-circle_green {
    position: fixed;
    width: 60rem;
    height: 60rem;
    background-color: #CED6D9;
    float: right;
    bottom: 0;
    right:0;
    border-radius: 50%;
    transform: translate(20%,30%);
    z-index: -1;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    grid-auto-flow: row dense;
    padding: 2rem;
    padding-top: 0rem;

    .wallet {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #F8F8F8;
        border-radius: 1rem;
        color: #0F2445;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.wallet_size_s {
    grid-row: span 1;
    grid-template-rows: 1fr;
}

.wallet_size_l {
    grid-row: span 3;
    grid-template-rows: 1fr 2fr;
    padding-bottom: 2rem;
    padding-top: 0rem;

    & .part_one {
        padding-bottom: 0.5rem;
    }
}


@media(min-width: 159em) {
    body {
        padding: 3rem 30rem 3rem 30rem;
    }

    @include backgroundCircleSize(150rem, 100rem)

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
    }
};

@media(min-width: 140em) and (max-width: 159em) {
    body {
        padding: 3rem 30rem 3rem 30rem;
    }

    @include backgroundCircleSize(140rem, 100rem)

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
    }
};

@media(min-width: 110em) and (max-width: 140em) {
    body {
        padding: 3rem 15rem 3rem 15rem;
    }

    @include backgroundCircleSize(140rem, 100rem)

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
    }
}


@media(min-width: 85em) and (max-width: 110em) {
    body {
        padding: 3rem;
        padding-top: 2rem;
    }

    @include backgroundCircleSize(110rem, 70rem)

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(57rem, 1fr));
    }
}


@media(min-width: 37.5em) and (max-width: 85em) {

    @include backgroundCircleSize(100rem, 50rem)

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(57rem, 1fr));
    }
}

@media(max-width:37.5em) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}
